.text-field {
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-border-color: #225577;
}

.no-divider > .split-pane-divider {
    -fx-padding: 0;
    -fx-background-color: transparent;
}

.rounded-btn {
    -fx-background-color: #225577;
    -fx-text-fill: white;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
}

.back-btn {
    -fx-background-color: transparent;
    -fx-text-fill: #225577;
    -fx-font-size: 25px;
}

.list-view {
    -fx-background-color: #e1e1e1;
    -fx-background-radius: 20;
}

.list-view .list-cell {
    -fx-background-color: transparent;
    -fx-padding: 10 12 10 12;
    -fx-font-size: 25px;
}

.list-view .list-cell:hover {
    -fx-background-color: #2255772d;
    -fx-background-radius: 12;
}

.online-players-list {
    -fx-max-width: 1440;
    -fx-min-width: 1440;
    -fx-pref-width: 1440;
    -fx-max-height: 1024;
    -fx-min-height: 1024;
    -fx-pref-height: 1024;
}

.online-app-bar {
    -fx-background-color: #46A3FF;
    -fx-border-radius: 12;
    -fx-background-radius: 12;
}