@font-face {
    font-family: "Minecraft";
    src: url("../fonts/Minecraft.ttf");
}

.root {
    -fx-font-family: "Minecraft";
}

.main-container {
    -fx-background-color: transparent;
}

.label {
    -fx-font-size: 32px;
    -fx-text-fill: white;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 4, 0, 0, 0);
}

.label .text {
    -fx-stroke: black;
    -fx-stroke-width: 2px;
    -fx-stroke-type: outside;
}

.button {
    -fx-background-color: #4c2812;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-padding-top: 8;
    -fx-padding-right: 15;
    -fx-padding-bottom: 8;
    -fx-padding-left: 15;
    -fx-background-radius: 0;
    -fx-border-color: #2e180b;
    -fx-border-width: 2;
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: #7a4321;
}

.button:pressed {
    -fx-opacity: 0.7;
    -fx-scale-x: 0.95;
    -fx-scale-y: 0.95;
}

.text-field, .password-field {
    -fx-background-color: rgba(255, 255, 255, 0.8);
    -fx-background-radius: 0;
    -fx-font-size: 15px;
    -fx-pref-height: 35px;
    -fx-border-color: #000000;
    -fx-border-width: 1;
}

.small-text, .link-label {
    -fx-font-size: 12px;
    -fx-text-fill: white;
    -fx-cursor: hand;
}

.medium-text {
    -fx-font-size: 18px;
    -fx-text-fill: white;
}

.convertible-text {
    -fx-font-size: 18px;
    -fx-text-fill: white;
    -fx-background-color: #adc178;
    padding: 5px;
}

.board-button {
    -fx-background-color: rgba(76, 40, 18, 0.5);
    -fx-text-fill: white;
    -fx-font-size: 42px;
    -fx-font-weight: bold;
    -fx-padding-top: 8;
    -fx-padding-right: 15;
    -fx-padding-bottom: 8;
    -fx-padding-left: 15;
    -fx-background-radius: 0;
    -fx-border-color: #2e180b;
    -fx-border-width: 2;
    -fx-cursor: hand;
}

.win-board-button {
    -fx-background-color: rgba(76, 40, 18, 0.5);
    -fx-text-fill: white;
    /*rgba(114, 255, 0, 1)*/
    -fx-font-size: 42px;
    -fx-font-weight: bold;
    -fx-padding-top: 8;
    -fx-padding-right: 15;
    -fx-padding-bottom: 8;
    -fx-padding-left: 15;
    -fx-background-radius: 0;
    -fx-border-color: #2e180b;
    -fx-border-width: 2;
    -fx-cursor: hand;
}

.board-button:hover {
    -fx-background-color: #7a4321;
}

.customized-button{
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-border-width: 0;
}

.customized-button {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-border-width: 0;
    -fx-cursor: hand;
    -fx-transition: 0.3s;
    -fx-text-strok: black;
}
.customized-button .text {
    -fx-fill: white;
    -fx-stroke: black;
    -fx-stroke-width: 1.5px;
    -fx-stroke-type: outside;
}
.customized-button:hover {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 10, 0, 0, 0);
    -fx-opacity: 0.85;
}

.customized-button:pressed {
    -fx-opacity: 0.7;
    -fx-scale-x: 0.95;
    -fx-scale-y: 0.95;
}

/*  -  */

.list-view {
    -fx-background-color: rgba(0, 0, 0, 0.4);
    -fx-border-color: #2e180b;
    -fx-border-width: 3;
    -fx-padding: 2;
}

.list-cell {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 12px; 
    -fx-padding: 4 5 4 5; 
}

.list-cell:filled:hover {
    -fx-background-color: rgba(255, 255, 255, 0.1);
}

.list-cell:filled:selected {
    -fx-background-color: rgba(76, 40, 18, 0.8);
    -fx-text-fill: #fbff00;
}

.list-view .list-cell .label {
    -fx-font-size: 16px;
    -fx-padding: 5;
}

.list-view .list-cell .hbox {
    -fx-spacing: 5px;
    -fx-alignment: CENTER_LEFT;
}

.status-circle {
    -fx-radius: 4; 
    -fx-stroke: black;
    -fx-stroke-width: 1;
}

.status-online {
    -fx-fill: #39e639;
}

.status-ingame {
    -fx-fill: #ffcc00;
}

.list-view .scroll-bar:vertical {
    -fx-background-color: #2e180b;
    -fx-pref-width: 10; 
}

.list-view .scroll-bar:vertical .thumb {
    -fx-background-color: #4c2812;
    -fx-background-radius: 0;
}