.text-field {
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-border-color: #225577;
}

.no-divider > .split-pane-divider {
    -fx-padding: 0;
    -fx-background-color: transparent;
}

.rounded-btn {
    -fx-background-color: #225577;
    -fx-text-fill: white;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
}

.list-view {
    -fx-background-color: #e1e1e1;
    -fx-background-radius: 20;
}

.list-view .list-cell {
    -fx-background-color: transparent;
    -fx-padding: 10 12 10 12;

}

.list-view .list-cell:hover {
    -fx-background-color: #2255772d; 
    -fx-background-radius: 12;
}
